.menu {
    &__list {
        list-style: none; 
        display: flex;
        align-items: center;
        margin-right: -3rem;
        padding: 0 0.8rem;
        @include large-tablet {
            margin-right: -2rem;
        }
    }
    &__item {
        margin-right: 3rem;
        position: relative;
        transition: var(--transition);
        @include large-tablet {
            margin-right: 2rem;
        }
        &::after {
            content: '';
            display: block;
            height: 1px;
            background-color: var(--color-primary);
            width: 0;
            margin: 0 auto;
            transition: var(--transition);
        }
        &:hover {
            color: var(--color-primary);
            &::after {
                width: 100%;
            }
        }
        &.is-active {
            color: var(--color-primary);
            &::after {
                width: 100%;
            }
        }
    }

    @include large-mobile {
        position: absolute;
        background-color: var(--color-black);
        top: calc(100% + .2rem);
        margin: 0 -1rem;
        left: 0;
        width: calc(100% + 2rem);
        padding: 0 2rem;
        &__list {
            display: block;
            padding: 3rem 0 2.5rem;
        }
        &__item {
            display: block;
            border: .2rem solid var(--color-primary);
            border-radius: 2.8rem;
            margin-bottom: 0.5rem;
        }
        &__link {
            display: block;
            padding: 1.2rem 1.8rem;
            font-size: 1.8rem;
        }
    }
}